<h2>1. Data Loading and Preprocessing</h2>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ucimlrepo import fetch_ucirepo

In [24]:
#fetching the dataset
dataset = fetch_ucirepo(id=222)

#loading the dataset into a pandas dataframe
X = dataset.data.features
y = dataset.data.targets

# metadata
print("Metadata:", dataset.metadata)

# variable information
vars_df = dataset.variables.sort_values(by="role")
print("Variables:\n", vars_df.to_string(index=False))

Metadata: {'uci_id': 222, 'name': 'Bank Marketing', 'repository_url': 'https://archive.ics.uci.edu/dataset/222/bank+marketing', 'data_url': 'https://archive.ics.uci.edu/static/public/222/data.csv', 'abstract': 'The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 45211, 'num_features': 16, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Occupation', 'Marital Status', 'Education Level'], 'target_col': ['y'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2014, 'last_updated': 'Fri Aug 18 2023', 'dataset_doi': '10.24432/C5K306', 'creators': ['S. Moro', 'P. Rita', 'P. Cortez'], 'intro_paper': {'ID': 277, 'type': 'NATIVE', 'title': 'A data-driven approach to predict the success of bank telemarketing', 'authors': 'SÃ©rgio Moro, P. Cortez, P. Rita', 'venue': 'Decision Support Systems', 'year': 2014, 'journal': None, 'DOI': '10.1016/j.dss.2014.03.001', 'URL': 'https://www.semanticscholar.org/paper/cab86052882d126d43f72108c6cb41b295cc8a9e', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': "The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. \n\nThere are four datasets: \n1) bank-additional-full.csv with all examples (41188) and 20 inputs, ordered by date (from May 2008 to November 2010), very close to the data analyzed in [Moro et al., 2014]\n2) bank-additional.csv with 10% of the examples (4119), randomly selected from 1), and 20 inputs.\n3) bank-full.csv with all examples and 17 inputs, ordered by date (older version of this dataset with less inputs). \n4) bank.csv with 10% of the examples and 17 inputs, randomly selected from 3 (older version of this dataset with less inputs). \nThe smallest datasets are provided to test more computationally demanding machine learning algorithms (e.g., SVM). \n\nThe classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Input variables:\n   # bank client data:\n   1 - age (numeric)\n   2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",\n                                       "blue-collar","self-employed","retired","technician","services") \n   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)\n   4 - education (categorical: "unknown","secondary","primary","tertiary")\n   5 - default: has credit in default? (binary: "yes","no")\n   6 - balance: average yearly balance, in euros (numeric) \n   7 - housing: has housing loan? (binary: "yes","no")\n   8 - loan: has personal loan? (binary: "yes","no")\n   # related with the last contact of the current campaign:\n   9 - contact: contact communication type (categorical: "unknown","telephone","cellular") \n  10 - day: last contact day of the month (numeric)\n  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")\n  12 - duration: last contact duration, in seconds (numeric)\n   # other attributes:\n  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)\n  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)\n  15 - previous: number of contacts performed before this campaign and for this client (numeric)\n  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")\n\n  Output variable (desired target):\n  17 - y - has the client subscribed a term deposit? (binary: "yes","no")\n', 'citation': None}}
Variables:
        name    role        type     demographic                                                                                                                                                                                                                                                                                                                                                                                                          description units missing_values
        age Feature     Integer             Age                                                                                                                                                                                                                                                                                                                                                                                                                  NaN   NaN             no
   previous Feature     Integer             NaN                                                                                                                                                                                                                                                                                                                                                number of contacts performed before this campaign and for this client   NaN             no
      pdays Feature     Integer             NaN                                                                                                                                                                                                                                                                   number of days that passed by after the client was last contacted from a previous campaign (numeric; -1 means client was not previously contacted)   NaN            yes
   campaign Feature     Integer             NaN                                                                                                                                                                                                                                                                                                               number of contacts performed during this campaign and for this client (numeric, includes last contact)   NaN             no
   duration Feature     Integer             NaN  last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.   NaN             no
      month Feature        Date             NaN                                                                                                                                                                                                                                                                                                                                     last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')   NaN             no
day_of_week Feature        Date             NaN                                                                                                                                                                                                                                                                                                                                                                                         last contact day of the week   NaN             no
   poutcome Feature Categorical             NaN                                                                                                                                                                                                                                                                                                                          outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')   NaN            yes
    contact Feature Categorical             NaN                                                                                                                                                                                                                                                                                                                                                    contact communication type (categorical: 'cellular','telephone')    NaN            yes
    housing Feature      Binary             NaN                                                                                                                                                                                                                                                                                                                                                                                                    has housing loan?   NaN             no
    balance Feature     Integer             NaN                                                                                                                                                                                                                                                                                                                                                                                               average yearly balance euros             no
    default Feature      Binary             NaN                                                                                                                                                                                                                                                                                                                                                                                               has credit in default?   NaN             no
  education Feature Categorical Education Level                                                                                                                                                                                                                                                                                       (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')   NaN             no
    marital Feature Categorical  Marital Status                                                                                                                                                                                                                                                                                                    marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)   NaN             no
        job Feature Categorical      Occupation                                                                                                                                                                                                                                         type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')   NaN             no
       loan Feature      Binary             NaN                                                                                                                                                                                                                                                                                                                                                                                                   has personal loan?   NaN             no
          y  Target      Binary             NaN                                                                                                                                                                                                                                                                                                                                                                            has the client subscribed a term deposit?   NaN             no

In [25]:
X.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN
5,35,management,married,tertiary,no,231,yes,no,NaN,5,may,139,1,-1,0,NaN
6,28,management,single,tertiary,no,447,yes,yes,NaN,5,may,217,1,-1,0,NaN
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,NaN,5,may,380,1,-1,0,NaN
8,58,retired,married,primary,no,121,yes,no,NaN,5,may,50,1,-1,0,NaN
9,43,technician,single,secondary,no,593,yes,no,NaN,5,may,55,1,-1,0,NaN

In [26]:
# Convert target DataFrame to Series
y = y.iloc[:, 0]

# Encode target
y = y.map({'no': 0, 'yes': 1})

In [27]:
print(f"Total samples: {X.shape[0]}")
print(f"Total features: {X.shape[1]}")
print(f"Target classes:\n{y.value_counts()}")

Total samples: 45211
Total features: 16
Target classes:
y
0    39922
1     5289
Name: count, dtype: int64

Identifying Categorical and Numerical Columns

In [28]:
# Features already in X
categorical_cols = X.select_dtypes(include=['object']).columns.tolist()
numerical_cols = X.select_dtypes(exclude=['object']).columns.tolist()

print("Categorical:", categorical_cols)
print("Numerical:", numerical_cols)

Categorical: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
Numerical: ['age', 'balance', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous']

C:\Users\Personal\AppData\Local\Temp\ipykernel_31144\582106784.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  categorical_cols = X.select_dtypes(include=['object']).columns.tolist()

Handling Null Data

In [29]:
print(X.isnull().sum())

age                0
job              288
marital            0
education       1857
default            0
balance            0
housing            0
loan               0
contact        13020
day_of_week        0
month              0
duration           0
campaign           0
pdays              0
previous           0
poutcome       36959
dtype: int64

In [30]:
missing_cols = X.columns[X.isnull().any()].tolist()
print(missing_cols)

['job', 'education', 'contact', 'poutcome']

In [31]:
# Fill missing values with "unknown" as all of them are categorical
X[missing_cols] = X[missing_cols].fillna("unknown")

Train-Test Split

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)